#manage_header_wrapper {
    margin-left: 10px;
}

nav .search_wrapper {
    display: none
}

.search_wrapper {
    height: 50px;
}

#manage_book_section {
    width: 100%;
    height: 100%;
    min-height: 400px;
    margin-top: 40px;
    margin-bottom: 70px;
}

#manage_book_wrapper {
    margin: 0 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.book_info {
    text-align: center;
}

.book_status_option_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.book_status_option_wrapper .fa-caret-left {
    visibility: hidden;
}

.book_status {
    margin: 0 5px;
}

#confirm_remove_book_wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#confirm_remove_book_button {
    color: white;
    background-color: black;
    padding: 15px 30px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
}