body {
    max-width: 1350px;
    margin: 0 auto;
}

#result_header_wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#result_header {
    margin-right: 10px;
}

#all_results_section, #all_results_wrapper {
    min-height: 300px;
    width: 100%;
    height: 100%;
}

.result_row {
    display: flex;
    padding-bottom: 30px;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
}

.result_row:not(:first-child) {
    margin-top: 30px;
}

.result_row:not(:last-child) {
    border-bottom: 1px solid gray;
}

.cover_wrapper {
    margin-right: 20px;
    flex: 15%;
    max-height: 300px;
}

.cover_wrapper img {
    width: 100%;
    height: 100%;
}

.result_info_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 85%;
}

.result_info_wrapper h3 {
    margin-top: 0;
}

/* Small screen  */
@media screen and (max-width: 810px) {
    .result_row {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .cover_wrapper {
        flex: 40%;
        width: 100%;
        height: 100%;
    }
    .info_and_cart_wrapper {
        width: 100%;
        flex: 60%;
    }
}

/* Small screen  */
@media screen and (max-width: 445px) {
    .result_info_wrapper h3, .result_info_wrapper div {
        font-size: smaller;
    }
}